/* Main Elements */

* {
    font-family: 'Oxygen', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Tenor Sans', sans-serif;
}

body {
    color: #302F33;
    background-color: #D9CEC1;
}

header {
   background-color: #FAF6F1;
}


.main-photo {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    max-width: 60vw;
}

