/* Main Elements */

html {
    height: 100%;
    max-width:100%;
}

#body {
    color: #302F33;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Tenor Sans', sans-serif;
    margin-bottom: 20px;
}

#header {
   background-color: #FAF6F1;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
}

p {
    font-size: 0.9em;
}

/* ----- INTRO ----- */

#intro {
    background-color: #D9CEC1;
}

.hi {
    margin-left: 15%;
    font-size: 2em;
    margin-bottom: 0;
}

.name {
    margin-left: 42%;
    margin-bottom: 0;
    font-family: 'Tenor Sans', sans-serif;
}

.main-photo {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 125px;
    max-width: 200px;
    height: auto;
}

.tag-line {
    font-size: 0.95em;

}

/* ----- About Me ----- */

#about-me {
    background-color: #FAF6F1; 
}

/* ----- Skills ----- */

#skills {
    background-color: #C6A47A;
    color:#FAF6F1;
}

.skillset {
    color:#302F33;
}

/* ----- Portfolio ----- */

#portfolio {
    background-color: #FAF6F1;
}

.project {
    font-size: 1.2em;
    font-weight: bold;
}

.card-image {
    position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
}

.image-overlay {
    color:#FAF6F1;
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;

	display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .5);

    opacity:0;
    transition: opacity .5s;
}

.image-overlay:hover {
    opacity:1;
}

.project-title {
    font-size: 1.15em;
    text-transform: uppercase;
}



/* ----- Connect ----- */

#contact,
footer {
    background-color: #302F33;
    color:#FAF6F1;
}

#mail {
    width: 60px;
    display:block;
    margin: 0 auto;
}

.linkedin-icon {
    fill:#FAF6F1;
    width: 40px;
    height: 40px;
    display:block;
    margin: 0 auto;
}